apiVersion: v1
kind: ServiceAccount
metadata:
  name: loan-agent
  namespace: ${NS_AGENT}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana
  namespace: ${NS_AGENT}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: loki
  namespace: ${NS_AGENT}
