---
apiVersion: v1
kind: Secret
metadata:
  name: minio
  labels:
    app.kubernetes.io/name: minio
    app.kubernetes.io/component: storage
stringData:
  MINIO_ROOT_USER: "${MINIO_USER}"
  MINIO_ROOT_PASSWORD: "${MINIO_PASSWORD}"
