apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: ${cm_name}
  namespace: ${grafana_ns}
spec:
  instanceSelector:
    matchLabels:
      dashboards: grafana
  configMapRef:
    name: ${cm_name}
    key: ${file}
