---
apiVersion: maas.opendatahub.io/v1alpha1
kind: MaaSSubscription
metadata:
  name: ${SUB_NAME}
  namespace: models-as-a-service
  annotations:
    openshift.io/display-name: "${MODEL_NAME} subscription for ${MAAS_GROUP}"
spec:
  modelRefs:
    - name: ${MODEL_NAME}
      namespace: ${NAMESPACE}
      tokenRateLimits:
        - limit: ${TOKEN_LIMIT}
          window: ${TOKEN_WINDOW}
  owner:
    groups:
      - name: ${MAAS_GROUP}
  priority: ${MAAS_PRIORITY}
