---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${SERVICE_ACCOUNT_NAME}
  namespace: ${TARGET_NAMESPACE}
---
apiVersion: v1
kind: Secret
metadata:
  name: ${SERVICE_ACCOUNT_NAME}-token
  namespace: ${TARGET_NAMESPACE}
  annotations:
    kubernetes.io/service-account.name: "${SERVICE_ACCOUNT_NAME}"
    openshift.io/display-name: ${SERVICE_ACCOUNT_NAME}
  labels:
    opendatahub.io/dashboard: "true"
type: kubernetes.io/service-account-token
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ${MODEL_NAME}-view-role
  namespace: ${TARGET_NAMESPACE}
  labels:
    opendatahub.io/dashboard: "true"
rules:
- apiGroups:
  - serving.kserve.io
  resourceNames:
  - ${MODEL_NAME}
  resources:
  - ${RESOURCE_TYPE}
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ${MODEL_NAME}-view
  namespace: ${TARGET_NAMESPACE}
  labels:
    opendatahub.io/dashboard: "true"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ${MODEL_NAME}-view-role
subjects:
- kind: ServiceAccount
  name: ${SERVICE_ACCOUNT_NAME}
