---
apiVersion: v1
kind: Secret
metadata:
  name: ${MODEL_NAME}-storage
  namespace: ${TARGET_NAMESPACE}
  labels:
    opendatahub.io/dashboard: 'true'
  annotations:
    opendatahub.io/connection-type-protocol: uri
    opendatahub.io/connection-type-ref: uri-v1
    openshift.io/description: 'Model storage for ${MODEL_NAME}'
    openshift.io/display-name: ${MODEL_NAME}
data:
  URI: ${ENCODED_URI}
type: Opaque
