---
apiVersion: serving.kserve.io/v1alpha1
kind: ServingRuntime
metadata:
  name: vllm-gemma4-runtime
  namespace: ${TARGET_NAMESPACE}
  labels:
    opendatahub.io/dashboard: 'true'
  annotations:
    opendatahub.io/apiProtocol: REST
    opendatahub.io/recommended-accelerators: '["nvidia.com/gpu"]'
    opendatahub.io/template-display-name: vLLM Gemma4 ServingRuntime
    openshift.io/display-name: vLLM Gemma4 Runtime
spec:
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: '8080'
  containers:
    - name: kserve-container
      image: 'vllm/vllm-openai:gemma4-0505-cu129'
      command:
        - python
        - '-m'
        - vllm.entrypoints.openai.api_server
      args:
        - '--port=8080'
        - '--model=/mnt/models'
        - '--served-model-name={{.Name}}'
        - '--kv-cache-dtype=fp8'
        - '--trust-remote-code'
      env:
        - name: HOME
          value: /tmp
        - name: HF_HOME
          value: /tmp/hf_home
        - name: XDG_CACHE_HOME
          value: /tmp/.cache
      ports:
        - containerPort: 8080
          protocol: TCP
      volumeMounts:
        - mountPath: /dev/shm
          name: shm
  multiModel: false
  supportedModelFormats:
    - autoSelect: true
      name: vLLM
  volumes:
    - emptyDir:
        medium: Memory
        sizeLimit: 12Gi
      name: shm
