apiVersion: v1
kind: Secret
metadata:
  name: nvidia-nim-image-pull
  namespace: ${NAMESPACE}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: ${NGC_DOCKER_CONFIG}
---
apiVersion: v1
kind: Secret
metadata:
  name: nvidia-nim-secrets
  namespace: ${NAMESPACE}
type: Opaque
stringData:
  NGC_API_KEY: "${NGC_API_KEY}"
