    - name: ${model_name}
      description: ${description}
      readme: |-
        # ${model_name}

        ${description}
      provider: ${provider}
      license: ${license}
      licenseLink: https://www.apache.org/licenses/LICENSE-2.0.txt
      libraryName: transformers
      artifacts:
        - uri: ${artifact_uri}
